html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}  
header {
  position: absolute;
  top: 0;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  height: 120px;
  padding: 0 20px;
  width: 100%;
}
  
.head-button {
  position: absolute;
  justify-content: flex-end;
  display: flex;
  transform: translateY(-10%);
  right: 20px;
  padding: 1rem;
}
  
.logo img {
  background-color: red;
  position: absolute;
  top: 5%;
  left: 5%;
  height: 40px;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-right: 10px;
  font-size: 16px;
  flex: 1;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

section {
  flex: 1 0 auto;
}

section main {
  position: absolute;
  bottom: 0;
  background-color: #007bff;
  display: inline-block;
  height: 578px;
  width: min-content;
}

main h2 {
  margin-left: 70px;
}

#cate-choix, option {
  background-color: #fff;
	border: #777 1px solid;
	margin: 0 0 1.5em 0;
}

select {
	Border: #53d3aa 1px solid;
  border-radius: 3px;
	font-size: 1.2em;
  padding: 6px 12px;
} 

#thumbs {
  list-style: none outside none; /* On supprime le style de la liste par défaut */
  margin: 0 auto; /* La galerie est centrée horizontalement */
  padding: 0;
  background-color: #000;
  height: 2010px;
  left: 245px;
  top: 121px;
  width: 1270px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

#thumbs li {
  float: left;
  height: 152px;
  margin: 0;
  padding: 5px;
  position: relative;
  width: 150px;
  z-index: 10;
}

#thumbs li:hover {
  z-index: 100; /* Nécessaire pour Firefox */
}

#thumbs li img {
  border: 2px solid #fff;
  z-index: 100;
  transition: transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transform: scale(0.75); /* On réduit l'image à 75% */
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -webkit-transform: scale(0.75);
}

#thumbs:hover li img {
  opacity: 0.5; /* Au survol de la galerie, toute les images auront une opacité de 50% */
}

#thumbs li:hover img {
  opacity: 1; /* L'image survolée aura une opacité de 100% */
  z-index: 100;
  transform: scale(1); /* On affiche l'image à sa taille normale */
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  box-shadow: 1px 1px 10px #000; /* On ajoute une ombre */
  -moz-box-shadow: 1px 1px 10px #000;
  -o-box-shadow: 1px 1px 10px #000;
  -webkit-box-shadow: 1px 1px 10px #000;
}

footer {
  position: absolute;
  display: flex;
  flex-shrink: 0;
  background-color: #777;
  color: white;
  width: 100%;
  bottom: 0;
}