html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 100vh;
}  
header {
  position: absolute;
  top: 0;
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  height: 120px;
  width: 100%;
}
  
.head-button {
  position: absolute;
  justify-content: flex-end;
  display: flex;
  transform: translateY(-10%);
  right: 20px;
  padding: 1rem;
  margin: 10px;
}

.head-button button{
  position: relative;
  margin: 10px;
  border: 3px solid white ;
  border-radius: 5%;
}

.btn-co:hover {
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin: 10px;
}

.btn-ins:hover {
  cursor: pointer;
  height: 50px;
  width: 100px;
  margin: 10px;
}

.shearch-bar {
  display: flex;
  position: absolute;
  right: 313px;
  top: 31px;
}

.logo img {
  background-color: red;
  position: absolute;
  top: 30px;
  left: 60px;
  height: 50px;
  width: 50px;
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: 2px solid #ccc;
  margin-right: 10px;
  font-size: 16px;
  flex: 1;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

section main {
  position: relative;
  bottom: 0;
  top: 120px;
  background-color: #007bff;
  display: inline-block;
  height: 1580px;
  width: min-content;
}

main h2 {
  margin-left: 70px;
}

#cate-choix, option {
  background-color: #fff;
	border: #777 1px solid;
	margin: 0 0 1.5em 0;
}

select {
	Border: #53d3aa 1px solid;
  border-radius: 3px;
	font-size: 1.2em;
  padding: 6px 12px;
} 

.my-h2 {
  position: absolute;
  font-weight: bolder;
  font-size: xx-large;
  display: block;
  border: 2px solid #007bff;
  text-align: justify;
  color: black;
  left: 823px;
  top: 99px;
  padding: 10px;
}

.galerie #thumbs li a {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
}

#thumbs {
  list-style: none outside none; /* On supprime le style de la liste par défaut */
  margin: 0 auto; /* La galerie est centrée horizontalement */
  padding: 0;
  height: 1010px;
  left: 246px;
  top: 81px;
  width: 1273px;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}

#thumbs li {
  height: 152px;
  margin: 65px;
  right: 25px;
  position: relative;
  width: 150px;
  z-index: 10;
}

#thumbs li:hover {
  z-index: 100; /* Nécessaire pour Firefox */
}

#thumbs li img {
  border: 2px solid #fff;
  z-index: 100;
  transition: transform 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out;
  -o-transition: -o-transform 0.25s ease-in-out;
  -webkit-transition: -webkit-transform 0.25s ease-in-out;
  transform: scale(0.75); /* On réduit l'image à 75% */
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -webkit-transform: scale(0.75);
}

#thumbs li:hover img {
  opacity: 1; /* L'image survolée aura une opacité de 100% */
  z-index: 100;
  transform: scale(1); /* On affiche l'image à sa taille normale */
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transform: scale(1);
  box-shadow: 1px 1px 10px #000; /* On ajoute une ombre */
  -moz-box-shadow: 1px 1px 10px #000;
  -o-box-shadow: 1px 1px 10px #000;
  -webkit-box-shadow: 1px 1px 10px #000;
}

footer {
  position: absolute;
  display: block;
  background-color: #333;
  color: white;
  height: 200px;
  width: 100%;
  top: 1700px;
}